@model List<TurmasDashboardVM>

@{
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-6">
                            <span class="h6">Turmas</span>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="text-end col-6">
                                <a asp-action="CreateTurma" asp-controller="Dashboard" class="btn btn-sm btn-primary">Adicionar turma</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-center">Qtd. de Alunos</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Qtd. de Professores</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <a asp-action="ViewTurma" asp-controller="Dashboard" asp-route-id="@obj.Turma.Id">
                                                        <h6 class="mb-0 text-sm">@obj.Turma.Nome</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">@obj.QtyAlunos</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">@obj.QtyProfessores</p>
                                        </td>
                                        <td class="align-middle">
                                            <a asp-action="ViewTurma" asp-controller="Dashboard" asp-route-turmaId="@obj.Turma.Id" class="text-secondary font-weight-bold text-xs">
                                                Editar
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>