@model TurmaEAlunos

@{
    Layout = "~/Views/Dashboard/_dashboardLayout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <div class="row">
                        <div class="col-6">
                            <span class="h6">@Model.Turma.Nome</span>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="text-end col-6">
                                <a asp-action="CreateTurma" asp-controller="Dashboard" class="btn btn-sm btn-primary">Adicionar professor</a>
                                <a asp-action="CreateTurma" asp-controller="Dashboard" class="btn btn-sm btn-warning">Adicionar aluno</a>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-center">Data de nascimento</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"></th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var obj in Model.Alunos)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@obj.NomeCompleto</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">
                                                @obj.DataNascimento.Day / @obj.DataNascimento.Month / @obj.DataNascimento.Year
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">
                                                Aluno
                                            </p>
                                        </td>
                                        <td class="align-middle">
                                            <a asp-controller="Aluno" asp-action="Boletim" asp-route-turmaId="@Model.Turma.Id" asp-route-alunoId="@obj.Id" class="text-secondary font-weight-bold text-xs">Mais informações</a>
                                        </td>
                                    </tr>
                                }

                                @foreach (var obj in Model.Professores)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@obj.NomeCompleto</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">
                                                @obj.DataNascimento.Day / @obj.DataNascimento.Month / @obj.DataNascimento.Year
                                            </p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 text-center">
                                                Professor
                                            </p>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="EditTurma" asp-controller="Dashboard" asp-route-id="@Model.Turma.Id" class="btn btn-primary">Editar</a>
            <a asp-action="RemoveTurma" asp-controller="Dashboard" asp-route-id="@Model.Turma.Id" class="btn btn-danger">Remover turma</a>
        </div>
    }
</div>