@model NotasDoAlunoVM

@{
    ViewData["Title"] = $"Aluno - {@Model.Aluno.NomeCompleto}";
}

<div class="row pt-4">
    <div class="col-6">
        <h2>Aluno(a): @Model.Aluno.NomeCompleto</h2>
    </div>

    @if (User.IsInRole("Professor") || User.IsInRole("Admin"))
    {
        <div class="col-6 text-end">
            <a asp-controller="Professor" asp-action="AddNota" asp-route-id="@Model.Aluno.Id" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Adicionar nota
            </a>
        </div>
    }
</div>
<br />

<table class="table table-bordered border-dark text-center">
    <thead>
        <tr>
            <th scope="col" rowspan="2">Materias</th>
            <th scope="col" colspan="2">1º Bim.</th>
            <th scope="col" colspan="2">2º Bim.</th>
            <th scope="col" colspan="2">3º Bim.</th>
            <th scope="col" colspan="2">4º Bim.</th>
            <th scope="col" rowspan="2">Resultado final</th>
        </tr>
        <tr>
            <th scope="col">Nota</th>
            <th scope="col" class="text-danger">Faltas</th>
            <th scope="col">Nota</th>
            <th scope="col" class="text-danger">Faltas</th>
            <th scope="col">Nota</th>
            <th scope="col" class="text-danger">Faltas</th>
            <th scope="col">Nota</th>
            <th scope="col" class="text-danger">Faltas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mat in Model.Materias)
         {
            <tr>
                <th scope="row">@mat.Nome</th>

                @foreach (var notas in Model.Notas)
                {
                    @foreach (var obj in notas)
                    {
                        if (mat.Id == obj.MateriaFK)
                        {
                            switch (obj.BimestreFK)
                            {
                                case 1:
                                    <td>@obj.Valor</td>
                                    <td>@obj.Faltas</td>
                                    break;

                                case 2:
                                    <td>@obj.Valor</td>
                                    <td>@obj.Faltas</td>
                                    break;

                                case 3:
                                    <td>@obj.Valor</td>
                                    <td>@obj.Faltas</td>
                                    break;

                                case 4:
                                    <td>@obj.Valor</td>
                                    <td>@obj.Faltas</td>
                                    break;
                            }
                        }
                    }
                }
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Aluno"))
{
    <a asp-controller="Aluno" asp-action="Index" class="btn btn-secondary">Voltar</a>
}
else
{
    <a asp-controller="Professor" asp-action="TurmasGeral" class="btn btn-secondary">Voltar</a>
}
